.load-truoc-khi-vao-trang {
    margin: auto;
    display: flex;
    width: 120px;
    height: 500px;
}

.hinh-tron + .hinh-tron {
    margin-left: 5px;
}

.hinh-tron {
    width: 20px;
    height: 20px;
    margin: auto;
    border-radius: 50%;
}

.hinh-tron-1 {
    background-color: #550000;
    animation: nhapNho 0.5s 0s infinite;
}

.hinh-tron-2 {
    background-color: #801515;
    animation: nhapNho 0.5s 0.1s infinite;
}

.hinh-tron-3 {
    background-color: #AA3939;
    animation: nhapNho 0.5s 0.15s infinite;
}

.hinh-tron-4 {
    background-color: #D46A6A;
    animation: nhapNho 0.5s 0.2s infinite;
}

.hinh-tron-5 {
    background-color: #FFAAAA;
    animation: nhapNho 0.5s 0.25s infinite;
}

@keyframes nhapNho {
    0% {
        opacity: 0.75;
        transform: scale(0.6, 0.6);
    }
    50% {
        opacity: 0.5;
        transform: scale(0, 0);
    }
    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}